.git
.gitignore

__debug_bin.exe
*.exe

streamrip/.github
streamrip/demo
streamrip/tests
streamrip/poetry.lock
streamrip/README.md

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache

.vscode
.idea

.claude
memory
